.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.body {
    flex: 1;
    display: flex;
    background-color: aqua;
}

.left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
}

.right {
    background-color: antiquewhite;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.footer {
    flex: 0;
    display: flex;
    background-color: blueviolet;
    justify-self: flex-end;
}

@media screen and (max-width: 768px) {
    .body {
        flex-direction: column;
    }
}