.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
}

.overlay_closed {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.modal {
    margin-left: auto;
    background-color: white;
    position: fixed;
    right: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    width: 360px;
    box-sizing: border-box;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.closed_modal {
    transform: translateX(360px);
    transition: transform 0.3s ease-in-out;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    gap: 10px;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.checkout_btn {
    margin-top: auto;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.icon {
    cursor: pointer;
}