.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.right_group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.icon {
    cursor: pointer;
}

.cart_icon_wrapper {
    position: relative;
}

.cart_counter {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -0.2rem;
    right: -0.5rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 0.8rem;
}
